@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: idroid;
    src: url('../fontes/IDroid.otf');
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #ebe5c5;
}

header{
    background-color: #0D8201;
    color: white;
    text-align: center;
    font-size: x-large;
    margin: -8px;
    padding: 30px;    
}
header > h1{
    font-family: 'Bebas Neue', cursive;
}
header > p{
    font-size: 19px;
}
nav{
    background-color: #0D8201;
    font-weight: bold;
    margin-right: -8px;
    margin-left: -8px;
    padding: 10px;
}
nav > a{
    padding: 10px;
}
a.menu:link{
    text-decoration: none;
    color: white;
}
a.menu:visited{
    text-decoration: none;
    color: white;
}
a.menu:hover{
    background-color: #28EB89;
    padding: 10px;
    border-radius: 5px;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 25px;
    padding: 16px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 42%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article > h1{
    color: #063d1e;
    font-family: idroid; 
    font-size: 28px;   
}
article > h2{
    background-color: #83e1ad;
    color: #063d1e;
    font-family: idroid;
    font-size: 20px;
}
article > p{
    text-indent: 30px;
    line-height: 1.8;
}
strong.destaque{
    color: #018237;
}
img.mascote{
    width: 100%;
    display: block;
    margin: auto;
}
img.irina{
    width: 100%;
    display: block;
    margin: auto;
}
img.bugdroid{
    display: block;
    margin: auto;
}
div.video{
    background-color: #063d1e;
    position: relative;
    height: 500px;
    margin: 0px -19px 30px -20px;
    padding: 20px;
    padding-bottom: 58px;
    
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
a.externo:link{
    text-decoration: none;
    background-color: #28EB89;
    color: #018237;    
    font-weight: bold;
    padding: 2px;
}
a.externo:visited{
    text-decoration: none;
    background-color: #28EB89;
    color: #018237;    
    font-weight: bold;
    padding: 2px;    
}
a.externo:hover{
    text-decoration: underline;
}
aside{
    background-color: #83e1ad;
    padding: 10px;
    border-radius: 10px;
}
aside > ul{
    columns: 2;    
}
aside > h3{
    background-color: #1a5c37;
    color: white;
    padding: 15px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > p{
    text-indent: 30px;
}
a.historia:link{
    text-decoration: none;
    color: #063d1e;
    font-weight: bold;
}
a.historia:visited{
    text-decoration: none;
    color: #063d1e;
    font-weight: bold;
}
a.historia:hover{
    text-decoration: underline;
}

footer{
    background-color: #0D8201;
    color: white;
    text-align: center;
    font-size: 0.8em;
    margin: -8px;
    padding-top: 1px;
    padding-bottom: 1px;
}